body{
    position:relative;
    margin: 0;
    min-width: 1000px;
}
header{
    min-height: 100px;
    width: 100%;
    background-color: #ebebeb;
    position: fixed;
    top: 0;
}


.content,section, section .item{
    display: flex;
}

.content, section .item{
    justify-content:center;
}

.content{
    margin-top: 130px;

}
.content section {
    width:1000px;
    background: #999;
}

section {
    flex-wrap:wrap;
    justify-content: space-around;
}

.content .item{
    align-items:center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.bg-1{
    background-color: aliceblue;
}

.bg-2{
    background-color: aqua;
}

.bg-3{
    background-color: bisque;
}

.bg-4{
    background-color: blueviolet;
}

.bg-5{
    background-color: burlywood;
}

.bg-6{
    background-color: cadetblue;
}

.bg-7{
    background-color: chartreuse;
}

.bg-8{
    background-color: darkgoldenrod;
}

.bg-9{
    background-color: darkslateblue;
}

.bg-9{
    background-color: gold;
}

.bg-10{
    background-color: hotpink;
}

.bg-11{
    background-color: turquoise;
}

.bg-12{
    background-color: skyblue;
}

.bg-13{
    background-color: royalblue;
}

.bg-14{
    background-color: salmon;
}

.bg-15{
    background-color: teal;
}

.bg-16{
    background-color: tomato;
}